<div class="position-relative bg-white  row">
    <div class="px-1 py-1 left-0 position-absolute bg-white col-xl-12 row justify-content-between align-items-center">
        <div class="col-xl-3 row d-flex">
            <div class="bg-dark bg-opacity-10 border border-1 border-white border-opacity-10 col-4 justify-content-center align-items-center d-flex">
                <p class="text-dark fs-6 fw-normal font-family-Graphik text-decoration-underline col-12 m-0 px-3 py-2">Privacy policy</p>
            </div>
            <div class="bg-dark bg-opacity-10 border border-1 border-white border-opacity-10 col-4 justify-content-center align-items-center d-flex">
                <p class="text-dark fs-6 fw-normal font-family-Graphik text-decoration-underline col-12 m-0 px-3 py-2">Cookie policy</p>
            </div>
            <div class="bg-dark bg-opacity-10 border border-1 border-white border-opacity-10 col-3 justify-content-center align-items-center d-flex">
                <p class="text-dark fs-6 fw-normal font-family-Graphik text-decoration-underline col-12 m-0 px-3 py-2">Terms of use</p>
            </div>
        </div>
        <p class="text-end text-black fs-6 fw-normal font-family-Graphik col-xl-5 m-0 px-3 py-2">Copyright 2001-2024 Accenture. All rights reserved. Accenture Confidential. For internal use only.</p>
    </div>
    <div class="px-1 py-1 position-absolute bg-light border border-1 border-success-subtle col-xl-10">
        <div class="col-lg-10 row d-flex">
            <p class="text-center text-black fs-1 fw-bold font-family-Graphik col-md-6 m-0 px-3 py-2">Display text</p>
            <p class="text-center text-black fs-2 fw-semibold font-family-Graphik col-md-3 m-0 px-3 py-2">Heading text</p>
            <p class="text-center text-black fs-5 fw-medium font-family-Graphik col-md-1 m-0 px-3 py-2">Title text</p>
            <p class="text-black fs-6 fw-normal font-family-Graphik col-md-12 m-0 px-3 py-2">Large Body copy. Layer style is body/lg/regular .<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt sit amet orci id cursus. Vivamus feugiat odio et augue rutrum suscipit. Suspendisse egestas felis molestie finibus posuere. Ut ultrices eu augue vel eleifend. In fermentum vitae nisi ut sollicitudin. Aliquam erat volutpat.</p>
            <p class="text-black fs-6 fw-normal font-family-Graphik col-md-12 m-0 px-3 py-2">Medium Body copy. Layer style is body/md/regular .<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt sit amet orci id cursus. Vivamus feugiat odio et augue rutrum suscipit. Suspendisse egestas felis molestie finibus posuere. Ut ultrices eu augue vel eleifend. In fermentum vitae nisi ut sollicitudin. Aliquam erat volutpat.</p>
            <p class="text-black fs-6 fw-normal font-family-Graphik col-md-12 m-0 px-3 py-2">Small Body copy. Layer style is body/sm/regular .<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt sit amet orci id cursus. Vivamus feugiat odio et augue rutrum suscipit. Suspendisse egestas felis molestie finibus posuere. Ut ultrices eu augue vel eleifend. In fermentum vitae nisi ut sollicitudin. Aliquam erat volutpat.</p>
            <div class="col-md-12 justify-content-center align-items-center">
                <div class="border border-1 border-success-subtle"></div>
            </div>
            <p class="text-black fs-6 fw-semibold font-family-Graphik col-md-12 m-0 px-3 py-2">Text links:</p>
            <div class="bg-primary bg-opacity-10 border border-1 border-white border-opacity-10 col-md-1 justify-content-center align-items-center">
                <p class="text-primary fs-6 fw-normal font-family-Graphik text-decoration-underline col-12 m-0 px-3 py-2">Text Link</p>
            </div>
            <div class="col-md-12 justify-content-center align-items-center">
                <div class="border border-1 border-success-subtle"></div>
            </div>
            <p class="text-black fs-6 fw-semibold font-family-Graphik col-md-12 m-0 px-3 py-2">Buttons:</p>
            <div class="col-md-8 row">
                <div class="px-1 py-1 bg-indigo rounded-5 col-4 justify-content-center align-items-center d-flex">
                    <div class="px-1 col-10 justify-content-center align-items-center d-flex">
                        <p class="text-center text-white fs-6 fw-medium font-family-Graphik col-11 m-0 px-3 py-2">Primary button</p>
                    </div>
                </div>
                <div class="px-1 py-1 bg-white bg-opacity-10 rounded-5 border border-2 border-success-subtle col-4 justify-content-center align-items-center d-flex">
                    <div class="px-1 col-10 justify-content-center align-items-center d-flex">
                        <p class="text-center text-indigo fs-6 fw-medium font-family-Graphik col-11 m-0 px-3 py-2">Secondary button</p>
                    </div>
                </div>
                <div class="px-1 py-1 bg-white bg-opacity-10 rounded-5 border border-2 border-white border-opacity-10 col-3 justify-content-center align-items-center d-flex">
                    <div class="px-1 col-10 justify-content-center align-items-center d-flex">
                        <p class="text-center text-indigo fs-6 fw-medium font-family-Graphik col-11 m-0 px-3 py-2">Ghost button</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 justify-content-center align-items-center">
                <div class="border border-1 border-success-subtle"></div>
            </div>
            <p class="text-black fs-6 fw-semibold font-family-Graphik col-md-12 m-0 px-3 py-2">Form patterns:</p>
            <div class="rounded-1 col-md-9 row d-flex">
                <div class="col-1 align-items-center">
                    <p class="text-black fs-6 fw-medium font-family-Graphik col-12 m-0 px-3 py-2">Label text</p>
                </div>
                <input type="text" class="">
            </div>
            <div class="rounded-1 col-md-9 row d-flex">
                <div class="col-1 align-items-center">
                    <p class="text-black fs-6 fw-medium font-family-Graphik col-12 m-0 px-3 py-2">Label text</p>
                </div>
                <div class="px-1 py-1 bg-white rounded-1 border border-1 border-dark col-12">
                    <div class="col-12 align-items-center d-flex">
                        <div class="px-1 col-12 align-items-center d-flex">
                            <p class="text-dark fs-6 fw-normal font-family-Graphik col-2 m-0 px-3 py-2">Text area field</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 row d-flex">
                <div class="col-12 align-items-center">
                    <p class="text-black fs-6 fw-medium font-family-Graphik col-3 m-0 px-3 py-2">Label text</p>
                </div>
                <div class="col-12 row">
                    <div class="col-3 row d-flex">
                        <div class="position-relative rounded-1 border border-2 border-white border-opacity-10 col-3 row"></div>
                        <div class="col-9 justify-content-center">
                            <p class="text-dark fs-6 fw-normal font-family-Graphik col-12 m-0 px-3 py-2">Checkbox</p>
                        </div>
                    </div>
                    <div class="col-3 row align-items-center d-flex">
                        <div class="position-relative rounded-1 border border-2 border-white border-opacity-10 col-3 row"></div>
                        <p class="text-dark fs-6 fw-normal font-family-Graphik col-9 m-0 px-3 py-2">Checkbox</p>
                    </div>
                    <div class="col-3 row d-flex">
                        <div class="position-relative rounded-1 border border-2 border-white border-opacity-10 col-3 row"></div>
                        <div class="col-9 justify-content-center">
                            <p class="text-dark fs-6 fw-normal font-family-Graphik col-12 m-0 px-3 py-2">Checkbox</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-dark fs-6 fw-normal font-family-Graphik col-3 m-0 px-3 py-2">Helper text</p>
                </div>
            </div>
            <div class="col-md-4 row d-flex">
                <div class="col-12 align-items-center">
                    <p class="text-black fs-6 fw-medium font-family-Graphik col-3 m-0 px-3 py-2">Label text</p>
                </div>
                <div class="col-12 row">
                    <div class="col-3 row align-items-center d-flex">
                        <div class="position-relative rounded-1 border border-2 border-white border-opacity-10 col-4 row"></div>
                        <div class="col-7 justify-content-center">
                            <p class="text-dark fs-6 fw-normal font-family-Graphik col-12 m-0 px-3 py-2">Radio</p>
                        </div>
                    </div>
                    <div class="col-3 row align-items-center d-flex">
                        <div class="position-relative rounded-1 border border-2 border-white border-opacity-10 col-4 row"></div>
                        <div class="col-7 justify-content-center">
                            <p class="text-dark fs-6 fw-normal font-family-Graphik col-12 m-0 px-3 py-2">Radio</p>
                        </div>
                    </div>
                    <div class="col-3 row align-items-center d-flex">
                        <div class="position-relative rounded-1 border border-2 border-white border-opacity-10 col-4 row"></div>
                        <div class="col-7 justify-content-center">
                            <p class="text-dark fs-6 fw-normal font-family-Graphik col-12 m-0 px-3 py-2">Radio</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-dark fs-6 fw-normal font-family-Graphik col-12 m-0 px-3 py-2">Helper text</p>
                </div>
            </div>
        </div>
    </div>
</div>