<div class="bg-container width-100">
    <h1>Display text</h1>

    <h2>Heading text</h2>

    <h3>Title text</h3>

    <p class="text-lg">Large Body copy. Layer style is body/lg/regular . <br /><br />

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt sit amet orci id cursus. Vivamus
        feugiat odio et augue rutrum suscipit. Suspendisse egestas felis molestie finibus posuere. Ut ultrices eu augue
        vel eleifend. In fermentum vitae nisi ut sollicitudin. Aliquam erat volutpat.</p>

    <p class="text-md">Medium Body copy. Layer style is body/md/regular .<br /><br />

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt sit amet orci id cursus. Vivamus
        feugiat odio et augue rutrum suscipit. Suspendisse egestas felis molestie finibus posuere. Ut ultrices eu augue
        vel eleifend. In fermentum vitae nisi ut sollicitudin. Aliquam erat volutpat.</p>

    <p class="text-sm">Small Body copy. Layer style is body/sm/regular .<br /><br />

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt sit amet orci id cursus. Vivamus
        feugiat odio et augue rutrum suscipit. Suspendisse egestas felis molestie finibus posuere. Ut ultrices eu augue
        vel eleifend. In fermentum vitae nisi ut sollicitudin. Aliquam erat volutpat.</p>

    <hr />

    <h4>Text Links:</h4>

    <p class="text-md"><a href="#">Text Link</a></p>

    <hr />

    <h4>Buttons:</h4>

    <div class="d-flex buttons mb-4 gap-3">
        <button type="button" class="btn btn-primary py-2 px-4">
            <span>Primary Button</span>
        </button>

        <button type="button" class="btn btn-secondary py-2 px-4">
            <span>Secondary Button</span>
        </button>

        <button type="button" class="btn btn-ghost py-2 px-4">
            <span>Ghost Button</span>
        </button>
    </div>

    <hr />

    <h4>Form patterns:</h4>

    <div class="form-container d-flex flex-column">

        <div class="mb-5">
            <label for="exampleFormControlInput1" class="form-label">Label text</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Text field">
        </div>
        <div class="mb-5">
            <label for="exampleFormControlTextarea2" class="form-label">Label text</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"
                placeholder="Text area field"></textarea>
        </div>

        <div class="mb-3 checkbox-container">

            <label class="form-label d-block">Label text</label>

            <label class="container px-4">Checkbox 1
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="container px-4">Checkbox 2
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container px-4">Checkbox 3
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>

        <p class="mb-5">Helper Text</p>

        <div class="radio-container mb-3">
            <label for="exampleFormControlTextarea4" class="form-label d-block">Label text</label>

            <label class="container px-4">Radio 1
                <input type="radio" name="radioBtn" id="radioButton" checked="checked">
                <span class="checkmark"></span>
              </label>
              
              <label class="container px-4">Radio 2
                <input type="radio" name="radioBtn" id="radioButton">
                <span class="checkmark"></span>
              </label>
              
              <label class="container px-4">Radio 3
                <input type="radio" name="radioBtn" id="radioButton">
                <span class="checkmark"></span>
              </label>
        </div>

        <p class="mb-5">Helper Text</p>

    </div>

</div>


<footer class="d-flex justify-content-between flex-column flex-xl-row">
    <div class="d-flex">
        <div><a href="#">Privacy Policy</a></div>
        <div><a href="#">Cookie Policy</a></div>
        <div><a href="#">Terms of use</a></div>
    </div>
    <div class="footer-text pe-4 py-1">
        Copyright 2001-2024 Accenture. All rights reserved. Accenture Confidential. For internal use only.
    </div>
</footer>