
@font-face {
    font-family: 'Graphik';
   font-stretch: normal;
    font-style: normal;
    font-weight: 300;
   src: url('/assets/fonts/graphik/Graphik-Light-Web.eot');
    src: url('/assets/fonts/graphik/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/graphik/Graphik-Light-Web.woff2') format('woff2'),
    url('/assets/fonts/graphik/Graphik-Light-Web.woff') format('woff');
 font-display: swap;
 }
 
 @font-face {
   font-family: 'Graphik';
   font-stretch: normal;
   font-style: italic;
   font-weight: 300;
   src: url('/assets/fonts/graphik/Graphik-LightItalic-Web.eot');
   src: url('/assets/fonts/graphik/Graphik-LightItalic-Web.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/graphik/Graphik-LightItalic-Web.woff2') format('woff2'),
   url('/assets/fonts/graphik/Graphik-LightItalic-Web.woff') format('woff');
   font-display: swap;
 }
 
 @font-face {
   font-family: 'Graphik';
   font-stretch: normal;
   font-style: normal;
   font-weight: 400;
   src: url('/assets/fonts/graphik/Graphik-Regular-Web.eot');
   src: url('/assets/fonts/graphik/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/graphik/Graphik-Regular-Web.woff2') format('woff2'),
   url('/assets/fonts/graphik/Graphik-Regular-Web.woff') format('woff');
   font-display: swap;
 }
 
 @font-face {
   font-family: 'Graphik';
   font-stretch: normal;
   font-style: italic;
   font-weight: 400;
   src: url('/assets/fonts/graphik/Graphik-RegularItalic-Web.eot');
   src: url('/assets/fonts/graphik/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/graphik/Graphik-RegularItalic-Web.woff2') format('woff2'),
   url('/assets/fonts/graphik/Graphik-RegularItalic-Web.woff') format('woff');
   font-display: swap;
 }
 
 @font-face {
   font-family: 'Graphik';
   font-stretch: normal;
   font-style: normal;
   font-weight: 500;
   src: url('/assets/fonts/graphik/Graphik-Medium-Web.eot');
   src: url('/assets/fonts/graphik/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/graphik/Graphik-Medium-Web.woff2') format('woff2'),
   url('/assets/fonts/graphik/Graphik-Medium-Web.woff') format('woff');
   font-display: swap;
 }
 
 @font-face {
   font-family: 'Graphik';
   font-stretch: normal;
   font-style: normal;
   font-weight: 600;
   src: url('/assets/fonts/graphik/Graphik-Semibold-Web.eot');
   src: url('/assets/fonts/graphik/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/graphik/Graphik-Semibold-Web.woff2') format('woff2'),
   url('/assets/fonts/graphik/Graphik-Semibold-Web.woff') format('woff');
   font-display: swap;
 }
 
 @font-face {
   font-family: 'Graphik';
   font-stretch: normal;
   font-style: normal;
   font-weight: 800;
   src: url('/assets/fonts/graphik/Graphik-Black-Web.eot');
   src: url('/assets/fonts/graphik/Graphik-Black-Web.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/graphik/Graphik-Black-Web.woff2') format('woff2'),
   url('/assets/fonts/graphik/Graphik-Black-Web.woff') format('woff');
   font-display: swap;
 }

 
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: "Graphik";
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}